
<!-- grid-cols-[250px_1fr]
	➡️ "Mi grid tiene 2 columnas:
	la primera de 250px (para el menú lateral)
	la segunda de 1fr (para el contenido)"
-->


<!--
	grid-rows-[60px_40px_1fr_40px]
		Esto define 4 filas:
			60px → altura del header
			40px → altura del nav
			1fr → el contenido crece y llena el espacio (section + sidebar)
			40px → altura del footer
-->
<div class="grid grid-cols-[230px_1fr] grid-rows-[60px_40px_1fr_40px] h-screen">

	<!-- Header -->
	<header class="row-start-1 col-start-2 bg-red-500 text-white flex items-center justify-center">
	  header
	</header>

	<!-- Nav -->
	<nav class="row-start-2 col-start-2 bg-red-400 text-white flex items-center justify-center">
	  nav
	</nav>

	<!-- Menu lateral (ocupa desde nav hasta abajo) -->
	<aside class="fixed top-[0px] left-0 w-[230px] h-[100%] bg-red-600 text-white z-50 flex items-center justify-center">
	  Menu lateral
	</aside>

	<!-- Section (contenido) -->
	<main class="row-start-3 col-start-2 bg-red-300 text-white flex items-center justify-center">
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim dolore provident delectus, laudantium cum inventore quibusdam aut consequatur architecto quis optio voluptate ratione veritatis! Repellat, earum. Officiis commodi aut itaque!
	</main>

	<!-- Footer (solo debajo del section) -->
	<footer class="row-start-4 col-start-2 bg-red-500 text-white flex items-center justify-center">
	  footer
	</footer>
  </div>
